{% extends 'mainapp/base.html' %}
{% block title %}
    <title>Каталог</title>
{% endblock %}
{% block content %}
    <style>
        a, a:hover {
            text-decoration: #212529;
            color: #212529;
        }
    </style>
    <div class="container">
        <br>
        <div class="card col">
            <img class="card-img-top" src="/static/img/cloud_server.png" alt="Card image cap">
            <div class="card-body text-center">
                {% for item in categories %}
                    <h3>
                        <a href="{% url 'catalog_page' item.pk %}" class="card-title text-center">Веб-хостинг</a>
                    </h3>
                    <p class="text-dark">

                    </p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
