{% extends 'mainapp/base.html' %}
{% block title %}
    <title>Каталог</title>
{% endblock %}
{% block content %}
    <div class="container">
        <br>
        <h2 class="text-center mb-4">Веб-хостинг</h2>
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">AGRENTUM</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">30 &#8381; <small class="text-muted">/ мес</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <table class="table">
                            <tbody>
                            <tr class="text-center">
                                <th>NVMe диск 2,5 GB</th>
                            </tr>
                            <tr class="text-center">
                                <th>2 сайта, 0 бд</th>
                            </tr>
                            <tr class="text-center">
                                <th>50% от 1 ядра</th>
                            </tr>
                            <tr class="text-center">
                                <th>Безлимитный трафик</th>
                            </tr>
                            <tr class="text-center">
                                <th>Россия или Нидерланды</th>
                            </tr>
                            <tr class="text-center">
                                <th>Защита от DDoS-атак</th>
                            </tr>
                            </tbody>
                        </table>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-info">Заказать!</button>
                </div>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">AURUM</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">149&#8381; <small class="text-muted">/ мес</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <table class="table">
                            <tbody>
                            <tr class="text-center">
                                <th>NVMe диск 10 GB</th>
                            </tr>
                            <tr class="text-center">
                                <th>&#8734; сайтов, &#8734; бд</th>
                            </tr>
                            <tr class="text-center">
                                <th>100% от 1 ядра</th>
                            </tr>
                            <tr class="text-center">
                                <th>Безлимитный трафик</th>
                            </tr>
                            <tr class="text-center">
                                <th>Россия или Нидерланды</th>
                            </tr>
                            <tr class="text-center">
                                <th>Защита от DDoS-атак</th>
                            </tr>
                            </tbody>
                        </table>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-info">Заказать!</button>
                </div>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">IRIDIUM</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">229&#8381; <small class="text-muted">/ мес</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <table class="table">
                            <tbody>
                            <tr class="text-center">
                                <th>NVMe диск 20 GB</th>
                            </tr>
                            <tr class="text-center">
                                <th>&#8734; сайтов, &#8734; бд</th>
                            </tr>
                            <tr class="text-center">
                                <th>150% от 2 ядер</th>
                            </tr>
                            <tr class="text-center">
                                <th>Безлимитный трафик</th>
                            </tr>
                            <tr class="text-center">
                                <th>Россия или Нидерланды</th>
                            </tr>
                            <tr class="text-center">
                                <th>Защита от DDoS-атак</th>
                            </tr>
                            </tbody>
                        </table>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-info">Заказать!</button>
                </div>
            </div>
        </div>
        <br>
        <h2 class="text-center mb-4">Выделенный сервер</h2>
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">i7-6700</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">4 800 &#8381; <small class="text-muted">/ мес</small></h1>
                    <h1 class="card-title pricing-card-title">450 &#8381; <small class="text-muted">/ день</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <table class="table">
                            <tbody>
                            <tr class="text-center">
                                <th>Intel® Core™ i7-6700</th>
                            </tr>
                            <tr class="text-center">
                                <th>4 ядра</th>
                            </tr>
                            <tr class="text-center">
                                <th>16 GB RAM</th>
                            </tr>
                            <tr class="text-center">
                                <th>2&times;1 TB HDD</th>
                            </tr>
                            </tbody>
                        </table>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-info">Заказать!</button>
                </div>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">ZEN-3700x</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">9 000 &#8381; <small class="text-muted">/ мес</small></h1>
                    <h1 class="card-title pricing-card-title">500 &#8381; <small class="text-muted">/ день</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <table class="table">
                            <tbody>
                            <tr class="text-center">
                                <th>AMD Ryzen™ 7 3700X</th>
                            </tr>
                            <tr class="text-center">
                                <th>8 ядер</th>
                            </tr>
                            <tr class="text-center">
                                <th>32 GB RAM</th>
                            </tr>
                            <tr class="text-center">
                                <th>500 GB NVMe</th>
                            </tr>
                            </tbody>
                        </table>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-info">Заказать!</button>
                </div>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Silver-4114</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">33 000 &#8381; <small class="text-muted">/ мес</small>
                    </h1>
                    <h1 class="card-title pricing-card-title">2 000 &#8381; <small class="text-muted">/ день</small>
                    </h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <table class="table">
                            <tbody>
                            <tr class="text-center">
                                <th>2&times;Intel&#xae; Xeon&#xae; Silver 4114</th>
                            </tr>
                            <tr class="text-center">
                                <th>20 ядер</th>
                            </tr>
                            <tr class="text-center">
                                <th>256 GB RAM</th>
                            </tr>
                            <tr class="text-center">
                                <th>4 TB NVMe</th>
                            </tr>
                            </tbody>
                        </table>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-info">Заказать!</button>
                </div>
            </div>

        </div>
        <br>
        <h2 class="text-center mb-4">Защита от DDoS-атак</h2>
        <p class="text-center p-2 mb-4">Надёжная защита от L3-L7 атак до 2Tbps / 180Mpps</p>
        <div class="card-deck mb-3 text-center">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">HELIX</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">990 &#8381; <small class="text-muted">/ мес</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <table class="table">
                            <tbody>
                            <tr class="text-center">
                                <th>Интернет-соединение: 10 Гбит/с</th>
                            </tr>
                            <tr class="text-center">
                                <th>TCP/UDP портов: 3</th>
                            </tr>
                            <tr class="text-center">
                                <th>Выделенный IPv4: 1 <p class="text-muted">(Дополнительный: 99 ₽)</p></th>
                            </tr>
                            <tr class="text-center">
                                <th>Трафик: 5 ТБ <p class="text-muted">(Исходящий)</p></th>
                            </tr>
                            <tr class="text-center">
                                <th>Безлимитные подключения</th>
                            </tr>
                            <tr class="text-center">
                                <th>TCP/UDP ускорение</th>
                            </tr>
                            <tr class="text-center">
                                <th>Статистика в реальном времени</th>
                            </tr>
                            <tr class="text-center">
                                <th>Защита веб-сайтов</th>
                            </tr>
                            <tr class="text-center">
                                <th>Локация: Россия, Франция или Польша</th>
                            </tr>
                            <tr class="text-center">
                                <th>Балансировка нагрузки</th>
                            </tr>
                            <tr class="text-center">
                                <th>Защита от игровых ботов</th>
                            </tr>

                            </tbody>
                        </table>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-info">Заказать!</button>
                </div>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">MEDIUS</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">2499 &#8381; <small class="text-muted">/ мес</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <table class="table">
                            <tbody>
                            <tr class="text-center">
                                <th>Интернет-соединение: 10 Гбит/с</th>
                            </tr>
                            <tr class="text-center">
                                <th>TCP/UDP портов: 65535</th>
                            </tr>
                            <tr class="text-center">
                                <th>Выделенный IPv4: 1 <p class="text-muted">(Дополнительный: 99 ₽)</p></th>
                            </tr>
                            <tr class="text-center">
                                <th>Трафик: 10 TB <p class="text-muted">(Исходящий)</p></th>
                            </tr>
                            <tr class="text-center">
                                <th>Безлимитные подключения</th>
                            </tr>
                            <tr class="text-center">
                                <th>TCP/UDP ускорение</th>
                            </tr>
                            <tr class="text-center">
                                <th>Статистика в реальном времени</th>
                            </tr>
                            <tr class="text-center">
                                <th>Защита веб-сайтов</th>
                            </tr>
                            <tr class="text-center">
                                <th>Локация: Россия, Франция или Польша</th>
                            </tr>
                            <tr class="text-center">
                                <th>Балансировка нагрузки</th>
                            </tr>
                            <tr class="text-center">
                                <th>Защита от игровых ботов</th>
                            </tr>

                            </tbody>
                        </table>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-info">Заказать!</button>
                </div>
            </div>
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">RISE</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">4999 &#8381; <small class="text-muted">/ мес</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <table class="table">
                            <tbody>
                            <tr class="text-center">
                                <th>Интернет-соединение: 10 Гбит/с</th>
                            </tr>
                            <tr class="text-center">
                                <th>TCP/UDP портов: 65535</th>
                            </tr>
                            <tr class="text-center">
                                <th>Выделенный IPv4: 1 <p class="text-muted">(Дополнительный: 99 ₽)</p></th>
                            </tr>
                            <tr class="text-center">
                                <th>Трафик: 20 ТБ <p class="text-muted">(Исходящий)</p></th>
                            </tr>
                            <tr class="text-center">
                                <th>Безлимитные подключения</th>
                            </tr>
                            <tr class="text-center">
                                <th>TCP/UDP ускорение</th>
                            </tr>
                            <tr class="text-center">
                                <th>Статистика в реальном времени</th>
                            </tr>
                            <tr class="text-center">
                                <th>Защита веб-сайтов</th>
                            </tr>
                            <tr class="text-center">
                                <th>Локация: Россия, Франция или Польша</th>
                            </tr>
                            <tr class="text-center">
                                <th>Балансировка нагрузки</th>
                            </tr>
                            <tr class="text-center">
                                <th>Защита от игровых ботов</th>
                            </tr>

                            </tbody>
                        </table>
                    </ul>
                    <button type="button" class="btn btn-lg btn-block btn-info">Заказать!</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
