{% extends 'mainapp/base.html' %}
<title>{{ page_title|capfirst }}</title>
{% block content %}
    <div class="container">
        <h3 class="text-center mb-5">Профиль</h3>
        <div class="container">
            <div class="row">
                <div class="col">
                    <span class="input-group-text">Имя пользователя</span>
                    <input type="text" class="form-control" id="first_name" value="{{ user.first_name }}" readonly>
                    <span class="input-group-text">Логин</span>
                    <input type="text" class="form-control" id="username" value="{{ user.username }}" readonly>
                </div>
                <div class="col text-center">
                    <span class="input-group-text">Почта</span>
                    <input type="text" class="form-control" id="email" value="{{ user.email }}" readonly>
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-outline-success float-right edit">Изменить</button>
        </div>
    </div>
{% endblock %}
<script>

</script>