{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ page_title|capfirst }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/bootstrap-material-design.min.css' %}">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
          integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="/static/img/favicon.png"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/notyf.min.css' %}">
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal"><a class="p-2 text-dark" href="/">BIGNETHOST</a></h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="{% url 'main:index' %}">Главная</a>
        <a class="p-2 text-dark" href="{% url 'main:catalog' %}"><i class="fas fa-shopping-basket"></i>Каталог</a>
    {% if user.is_authenticated %}
        <a class="p-2 text-dark" href="{% url 'basketapp:index' %}"><i class="fas fa-shopping-cart"></i>Корзина {% if object_list %}<span class="badge badge-primary">{{ object_list|first }}</span>{% endif %}</a>
    {% endif %}
        {% if user.is_authenticated %}
            <button class="btn btn-secondary dropdown-toggle text-dark" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if user.is_superuser %}
                    <i class="fa fa-chess-king">{{ user.username }}</i>
                {% else %}
                    <i class="fa fa-user">{{ user.username }}</i>
                {% endif %}
            </button>
            <div class="dropdown-menu text-dark" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'auth:edit_profile' %}"><i class="fas fa-dice-d6 text-danger"></i>{{ user.first_name }}</a>
                <a class="dropdown-item" href="{% url 'auth:logout' %}"><i class="fas fa-sign-in-alt"></i>Выйти</a>
            </div>
        {% else %}
            <a class="p-2 text-dark" href="{% url 'auth:login' %}"><i class="fas fa-sign-in-alt"></i>Войти</a>
            <a class="p-2 text-dark" href="{% url 'auth:register' %}"><i
                    class="fas fa-user-check"></i>Регистрация</a>

        {% endif %}
    </nav>

</div>
{% block content %}
{% endblock %}
<br>
<script src="{% static 'js/jquery-3.2.1.slim.min.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'js/bootstrap-material-design.js' %}"></script>
<script>
    $(document).ready(function () {
        $('body').bootstrapMaterialDesign();
    });
</script>
<script src="{% static 'js/notyf.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>