{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
    <style>
        a, a:hover {
            text-decoration: #212529;
            color: #212529;
        }
    </style>
    <div class="container">
        <br>
        {% for item in categories %}
            <div class="card-deck">
                <a href="{% url 'main:catalog_page' item.pk %}" class="card-title text-center">
                    <div class="card">
                        <img class="card-img-top" src="{{ item.image.url }}" alt="Card image cap">
                        <div class="card-body text-center">
                            <h3>

                                {{ item }}

                            </h3>
                        </div>
                    </div>
                </a>
            </div>
            <br>
        {% endfor %}
    </div>
{% endblock %}
